{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_label(form.title, 'Task.Create.Title'|trans()) }}
            {{ form_widget(form.title) }}
            {{ form_label(form.content, 'Task.Create.Content'|trans()) }}
            {{ form_widget(form.content) }}

            <button type="submit" class="btn btn-success pull-right mt-2">{{'Task.Create.Add'|trans()}}</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list_undone') }}" class="btn btn-primary mt-2">{{'Task.Create.Return'|trans()}}</a>
    </div>
{% endblock %}
